@import "tailwindcss";

:root {
  --hba-primary: rgba(3, 169, 244, 1);
  --hba-secondary: rgba(3, 152, 220, 1);

  --color-primary: #f6f7f9;
  --color-bg-primary: #eeeff2;
  --color-emphasis: #e5e7eb;
  --color-secondary: #d1d5db;
  --color-secondary-muted: #eeeff2;

  --color-success: #e4fbed;
  --color-attention: #ffedd6;

  --color-error: #fec8c8;
  --color-semantic-error: #fec8c8;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .67em;
}