@import "tailwindcss";

:root {
  --hba-primary: rgba(3, 169, 244, 1);
  --hba-secondary: rgba(3, 152, 220, 1);

  --color-bg-primary: hsl(0, 0%, 100%);
  --color-bg-secondary: hsl(0, 0%, 95%);
  --color-bg-tertiary: hsl(0, 0%, 90%);
  --color-border: hsl(0, 0%, 85%);

  --color-text-emphasis: #070a0d;
  --color-text: hsl(0, 0, 35%);
  --color-text-secondary: hsl(0, 0, 40%);

  --color-success: #e4fbed;
  --color-attention: #ffedd6;

  --color-error: #fec8c8;
  --color-semantic-error: #fec8c8;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .67em;
}